<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">

</head>

<body>
	<form th:action="@{./buscarCliente}" th:object="${cliente}">
		<div class="container-fluid">
			<div class="mb-3">

				<label for="nombreClienteLabel" class="form-label">Nombre
					del Cliente</label> <input type="text" class="form-control"
					id="nombreClienteLabel" aria-describedby="juan Carlos"
					name="customerName">
			</div>

			<div class="mb-3">
				<label for="primerApeLabel" class="form-label">Primer
					Apellido Cliente</label> <input type="text" class="form-control"
					id="primerApeLabel" aria-describedby="Perez" name="firstSurname">
			</div>
			<div class="mb-3">
				<label for="nombreClienteLabel" class="form-label">Segundo
					Apellido Cliente</label> <input type="text" class="form-control"
					id="segundoApeLabel" aria-describedby="García" name="secondSurname">
			</div>

		<button type="submit" class="btn btn-primary">buscar por nombre y apellido</button>

	</form>

	</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>

</html>